.header {
  position: relative;
}

.navbar {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  height: 60px;
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  overflow-y: auto;
}

.logo {
  background: url('../../public//images/logo.svg') no-repeat center center/cover;
  height: 35px;
  width: 189px;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 488px;
}

.list__link {
  outline: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #616161;
  transition: all 0.3s linear;
}

.list__item:hover {
  color: #000;
}

.button {
  cursor: pointer;
  width: 180px;
  height: 60px;
  border-radius: 30px;
  background: #fff;
  border: 2px solid var(--orange-color);
  color: var(--orange-color);
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  transition: all 0.3s linear;
}

.button:hover {
  color: #fff;
  background: var(--orange-color);
}

.list__item_button {
  display: none;
}

.hamburger {
  width: 32px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s linear;
  position: relative;
  display: none;
}
.hamburger_before,
.hamburger_after {
  background: #000;
  height: 2px;
  border-radius: 2px;
  transition: all 0.5s linear;
}
.open .hamburger_before {
  transform: translateY(4px) rotate(45deg);
}

.open .hamburger_after {
  transform: translateY(-4px) rotate(-45deg);
}

@media screen and (max-width: 1080px) {
  .navbar {
    padding: 0 40px;
  }
  .logo {
    max-width: 137px;
    height: 25px;
  }
}

@media screen and (max-width: 950px) {
  .button {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .list {
    flex-direction: column;
    position: absolute;
    top: 87px;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    min-height: 730px;
    justify-content: start;
    align-items: center;
    padding-top: 66px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    background: #fff;
    z-index: 10;
  }
  .show {
    opacity: 1;
    visibility: visible;
  }
  .list__item_button {
    display: inline-block;
  }
  .button_mobile {
    display: block;
  }
  .list__item {
    margin-bottom: 20px;
  }
  .list__link {
    color: #000;
    font-size: 34px;
    line-height: 39px;
  }
  .list__item:nth-child(5) {
    margin-bottom: 70px;
  }
  .button_mobile {
    background: var(--orange-color);
    color: #fff;
    outline: none;
    font-size: 24px;
    line-height: 32px;
    width: 288px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    margin-top: 0;
    padding: 0 16px;
  }
  .list {
    top: 60px;
  }
}
