.navbar {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 60px;
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.logo {
  background: url('../../public//images/logo.svg') no-repeat;
  height: 35px;
  width: 189px;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 488px;
}

.list__item {
  outline: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #616161;
  transition: all 0.3s linear;
}

.list__item:hover {
  color: #000;
}

.button {
  cursor: pointer;
  width: 180px;
  height: 60px;
  border-radius: 30px;
  background: #fff;
  border: 2px solid var(--orange-color);
  color: var(--orange-color);
  transition: all 0.3s linear;
}

.button:hover {
  color: #fff;
  background: var(--orange-color);
}
