.section {
  background: #fff;
}

.section__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 80px;
}

.section__heading {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 21px;
  font-weight: 400;
}

.columns__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.last_column__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle_column__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle_column_numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
  height: 40px;
  width: 40px;
  background: var(--orange-color);
}

.card {
  width: 579px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 54px;
}

.card:last-child {
  margin-bottom: 0;
}

.card__number {
  display: none;
}

.first__image {
  background: url('../../public/images/checklist.svg') no-repeat center;
  width: 100%;
  height: 186px;
  margin-bottom: 20px;
}

.second__image {
  background: url('../../public/images/bee.svg') no-repeat center;
  width: 100%;
  height: 186px;
  margin-bottom: 20px;
}

.third__image {
  background: url('../../public/images/details.svg') no-repeat center;
  width: 100%;
  height: 186px;
  margin-bottom: 20px;
}

.card__heading {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.card__text {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 579px;
  padding: 0 5px;
  color: #616161;
}

.first_card__text {
  padding: 0 50px;
}

.last_card__text {
  padding: 0 20px;
}

.line {
  height: 134px;
  width: 2px;
  background: #616161;
  margin: 10px 0;
}

.button {
  display: block;
  margin: 0 auto;
}

.card__mobile {
  display: none;
}

@media screen and (max-width: 1439px) {
  .section__container {
    padding: 100px 40px;
  }
}

@media screen and (max-width: 1300px) {
  .card {
    width: 432px;
  }
  .card__text {
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .section__container {
    padding: 60px 16px;
  }
  .middle_column__container {
    display: none;
  }
  .columns__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  .section__heading {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 20px;
  }
  .card {
    width: 288px;
  }
  .first__image,
  .third__image,
  .second__image {
    margin-bottom: 10px;
  }
  .card__heading {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 12px;
    max-width: 288px;
  }
  .card__text {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }
  .button {
    width: 288px;
  }
  .card__number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
    height: 40px;
    width: 40px;
    background: var(--orange-color);
    margin-bottom: 16px;
  }
  .card__desktop {
    display: none;
  }
  .card__mobile {
    display: flex;
  }
  .columns__container {
    margin-bottom: 60px;
  }
}
