.project {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 80px;
  margin-bottom: 20px;
  border-radius: 14px;
}

.project__image_container {
  height: 365px;
  border-radius: 14px;
  position: relative;
}

.project__image {
  border-radius: 14px;
}

.project_text__container {
  padding: 32px 33px;
  padding-left: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__heading {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 20px;
}

.project__text {
  font-size: 20px;
  line-height: 30px;
  color: #616161;
  margin-bottom: 20px;
}

.project_text__container_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-size: 14px;
  line-height: 20px;
  color: #616161;
}

.footer__link {
  text-decoration: none;
  color: var(--orange-color);
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}

.project__review {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project__review_owner_card,
.project__review_students_card {
  background: #fff;
  border-radius: 14px;
  padding: 32px;
}

.owner__heading__container {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.owner__image__container {
  width: 60px;
  height: 60px;
  margin-right: 24px;
}

.owner__image {
  border-radius: 50%;
}

.owner__heading {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 8px;
}

.owner__subheading {
  font-size: 16px;
  line-height: 19px;
  color: #616161;
}

.owner__text {
  font-size: 20px;
  line-height: 30px;
  color: #616161;
  margin-bottom: 20px;
}

.owner_full_review_link {
  color: var(--orange-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

.students_header__container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.students_images__container {
  display: flex;
  margin-right: 24px;
}

.students__image_first_container,
.students__image_second_container,
.students__image_third_container {
  width: 60px;
  height: 60px;
  background: grey;
  border-radius: 50%;
  border: 1px solid #fff;
}

.students__first_image,
.students__second_image,
.students__third_image {
  border-radius: 50%;
}

.students__image_first_container {
  z-index: 3;
}

.students__image_second_container {
  transform: translateX(-11px);
  z-index: 2;
}

.students__image_third_container {
  transform: translateX(-22px);
  z-index: 1;
}

.students__heading {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 8px;
}

.students__subheading {
  font-size: 16px;
  line-height: 19px;
  color: #616161;
}

.students__text {
  font-size: 20px;
  line-height: 30px;
  color: #616161;
}

@media screen and (max-width: 1439px) {
  .project_text__container,
  .project__review_owner_card,
  .project__review_students_card {
    padding: 20px;
  }
  .project__text {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1015px) {
  .project {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    gap: 0;
  }
  .project__image_container {
    margin-bottom: 16px;
  }
  .project_text__container {
    padding: 20px 12px;
  }
  .project__review {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 40px;
  }
  .project__review_owner_card {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 650px) {
  .project {
    max-width: 300px;
    margin-bottom: 10px;
  }
  .project__image_container {
    max-width: 320px;
    max-height: 237px;
  }
  .project_text__container {
    min-height: 261px;
  }
  .project__heading {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 16px;
  }
  .project__text {
    font-size: 16px;
    line-height: 20px;
  }
  .project__review_owner_card {
    padding: 20px 12px;
    max-width: 300px;
    margin: 0 auto;
  }
  .owner__heading {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
  }
  .owner__image__container {
    margin-right: 12px;
  }
  .owner__heading__container {
    margin-bottom: 32px;
  }
  .owner__text {
    font-size: 16px;
    line-height: 20px;
  }
  .project__review_students_card {
    padding: 20px 12px;
    max-width: 300px;
  }
  .students_header__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .students__image_first_container,
  .students__image_second_container,
  .students__image_third_container {
    width: 30px;
    height: 30px;
    margin-bottom: 16px;
  }
  .owner__image__container {
    width: 40px;
    height: 40px;
  }
  .students__heading {
    font-size: 24px;
    line-height: 28px;
  }
  .students__text {
    font-size: 16px;
    line-height: 20px;
  }
}
