.footer {
  width: 100%;
  background: #000;
  min-height: 280px;
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  height: 280px;
  padding: 80px 80px 60px;
  color: #ddd;
}

.links__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.local__link {
  text-decoration: none;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  color: #dddddd;
}

.three_column__container {
  display: flex;
  justify-content: space-between;
  height: 110px;
}

.contact_info__list {
  list-style: none;
  padding: 0;
}

.contact__info_list_item_link {
  text-decoration: none;
  outline: none;
  color: #ddd;
  font-size: 20px;
  line-height: 30px;
}

.copyright__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.copyright {
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  margin: 0;
}

.card {
  border: none;
  width: 348px;
  height: 92px;
  background: #fff;
  color: #000;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 94px;
  transform: translateY(-15px);
  transition: all 0.4s linear;
}

.card:hover .card__popup {
  opacity: 1;
  visibility: visible;
}

.card__text {
  margin: 0;
  text-align: center;
}

.card__popup {
  padding: 20px 0 20px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 329px;
  height: 80px;
  background: var(--orange-color);
  border-radius: 14px 14px 14px 0px;
  position: absolute;
  left: 316px;
  bottom: 76px;
  margin-top: 29px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear;
}

.card__popup_text {
  color: #fff;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 1440px) {
  .footer__container {
    padding: 80px 40px 60px;
    font-size: 18px;
  }
  .card__text {
    font-size: 20px;
  }
  .card__popup {
    max-width: 229px;
  }
}

@media screen and (max-width: 1150px) {
  .card__popup {
    display: none;
  }
  .local__link {
    font-size: 18px;
  }
  .copyright {
    font-size: 18px;
  }
  .contact__info_list_item_link {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .footer__container {
    height: 100%;
    min-height: 522px;
    padding-bottom: 40px;
  }
  .card__popup {
    display: none;
  }
  .three_column__container {
    flex-direction: column;
    align-items: center;
  }
  .contact_info__list {
    margin: 0;
  }
  .links__container {
    margin-bottom: 60px;
  }
  .contact_info__list_item {
    margin-bottom: 10px;
    text-align: center;
  }
  .contact_info__list_item:last-child {
    margin-bottom: 60px;
  }
  .card {
    margin-bottom: 20px;
    padding: 16px 0;
    height: 92px;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding: 40px 16px;
  }
  .card {
    width: 300px;
    min-height: 92px;
    margin-bottom: 60px;
  }
  .card__text {
    font-size: 18px;
  }
}
