.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear;
  overflow-y: auto;
  padding: 0 100px;
}

.open {
  opacity: 1;
  visibility: visible;
}

.form {
  width: 827px;
  min-height: 363px;
  background: #fff;
  border-radius: 14px;
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
}

.form__heading {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 60px;
  margin-top: 0;
}

.form__label {
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 12px;
}

.form__input {
  width: 100%;
  margin-bottom: 40px;
  height: 61px;
  background: #ffffff;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 20px;
  line-height: 30px;
  color: #616161;
  outline: none;
}

.form__input:nth-child(9) {
  margin-bottom: 60px;
}

.form__textarea {
  width: 100%;
  margin-bottom: 40px !important;
  display: inline-block;
  resize: none;
  padding: 16px 20px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 14px;
  min-height: 152px;
  outline: none;
}

.button_type_submit {
  width: 200px;
  margin: 0 0 0 auto;
  font-size: 24px;
  line-height: 32px;
}

.button_type_close {
  cursor: pointer;
  background: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.button__line_before,
.button__line_after {
  min-width: 32px;
  height: 2px;
  background: #000;
  transform: rotate(45deg) translateY(1px);
}

.button__line_after {
  transform: rotate(-45deg) translateY(-1px);
}

@media screen and (max-width: 768px) {
  .modal {
    padding: 0;
  }
  .form {
    max-width: 90%;
    padding: 60px;
  }
}

@media screen and (max-width: 600px) {
  .form {
    padding: 20px 10px 40px;
    justify-content: start;
  }
  .form__heading {
    font-size: 24px;
    line-height: 36px;
    width: 230px;
    margin-bottom: 40px;
  }
  .form__input {
    height: 50px;
    padding: 10px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 24px;
  }
  .form__label {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .form__input:nth-child(9) {
    margin-bottom: 40px;
  }
  .form__textarea {
    margin-bottom: 24px !important;
    min-height: 100px;
  }
  .button_type_close {
    top: 24px;
    right: 24px;
  }
  .button_type_submit {
    width: 280px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .form {
    width: 100%;
    max-width: none;
    margin-top: 150px;
  }
}

@media screen and (max-width: 320px) {
  .form {
    /* min-height: 754px;
    margin-top: 210px; */
  }
}
