.section {
  background: #e5e5e5;
}

.section__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 227px 80px 80px;
  position: relative;
  border: 1px solid red;
}

.section__heading {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 40px;
  max-width: 620px;
}

.section__text {
  font-size: 24px;
  line-height: 32px;
  max-width: 620px;
  margin-bottom: 196px;
}

.section__image {
  background: url('../../public/images/projects_image.svg');
  width: 519px;
  height: 519px;
  position: absolute;
  top: 60px;
  right: 80px;
}

.buttons__container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 401px;
  background: #fff;
  color: var(--orange-color);
  transition: all 0.3s linear;
}

.button:hover {
  background: var(--orange-color);
  color: #fff;
}

.button_active {
  background: var(--orange-color);
  color: #fff;
}

.projecs__container {
  list-style: none;
}

/* Project */

.project {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 80px;
  margin-bottom: 20px;
  border-radius: 14px;
}

.project__image {
  background: url('../../public/images/ant_robotics.png');
  width: 630px;
  height: 365px;
  border-radius: 14px;
}

.project_text__container {
  padding: 32px 33px;
  padding-left: 52px;
}

.project__heading {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 20px;
}

.project__text {
  font-size: 20px;
  line-height: 30px;
  color: #616161;
  margin-bottom: 145px;
}

.project_text__container_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-size: 14px;
  line-height: 20px;
  color: #616161;
}

.footer__link {
  text-decoration: none;
  color: var(--orange-color);
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}

.project__review {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project__review_owner_card,
.project__review_students_card {
  background: #fff;
  border-radius: 14px;
  padding: 32px;
}

.owner__heading__container {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.owner__image {
  width: 60px;
  height: 60px;
  background: grey;
  border-radius: 50%;
  margin-right: 24px;
}

.owner__heading {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 8px;
}

.owner__text {
  font-size: 20px;
  line-height: 30px;
  color: #616161;
  margin-bottom: 20px;
}

.owner_full_review_link {
  color: var(--orange-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

.students_header__container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.students_images__container {
  display: flex;
  margin-right: 24px;
}

.students__image_first,
.students__image_second,
.students__image_third {
  width: 60px;
  height: 60px;
  background: grey;
  border-radius: 50%;
  border: 1px solid #fff;
}

.students__image_first {
  z-index: 3;
}

.students__image_second {
  transform: translateX(-11px);
  z-index: 2;
}

.students__image_third {
  transform: translateX(-22px);
  z-index: 1;
}

.students__heading {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 8px;
}

.students__subheading {
  font-size: 16px;
  line-height: 19px;
  color: #616161;
}

.students__text {
  font-size: 20px;
  line-height: 30px;
  color: #616161;
}
