.section {
  background: #e5e5e5;
}

.section__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 227px 80px 80px;
  position: relative;
}

.section__heading {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 40px;
  max-width: 620px;
}

.section__text {
  font-size: 24px;
  line-height: 32px;
  max-width: 620px;
  margin-bottom: 196px;
}

.section__image {
  background: url('../../public/images/projects_image.svg');
  width: 519px;
  height: 519px;
  position: absolute;
  top: 60px;
  right: 80px;
}

.buttons__container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 401px;
  background: #fff;
  color: var(--orange-color);
  transition: all 0.3s linear;
}

.button:hover {
  background: var(--orange-color);
  color: #fff;
}

.button_active {
  background: var(--orange-color);
  color: #fff;
}

.projecs__container {
  list-style: none;
}

/* Project */
.footer__buttons_container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.footer__button {
  margin: 0 40px;
}

.footer__button_more_projects {
  background: #fff;
  color: var(--orange-color);
}

@media screen and (max-width: 1400px) {
  .button {
    width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .section__container {
    padding: 134px 40px 40px;
  }
  .section__heading {
    max-width: 350px;
  }
  .section__text {
    max-width: 453px;
    margin-bottom: 154px;
  }
  .section__image {
    width: 452px;
    height: 452px;
    top: 60px;
    right: 60px;
    background-position: center;
    background-size: cover;
  }
  .button {
    width: 289px;
  }
  .footer__button {
    margin: 0 20px;
  }
}
