@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

:root {
  /* Colors */
  --grey-text-color: #ddd;
  --orange-color: #ff9900;

  /* Heading */
  --desktop-heading-font-size: 48px;
  --desktop-heading-line-height: 56px;
  --mobile-heading-font-size: 34px;
  --mobile-heading-line-height: 39px;

  /* Subheading */
  --desktop-subheading-font-size: 30px;
  --desktop-subheading-line-height: 40px;
  --mobile-subheading-font-size: 20px;
  --mobile-subheading-line-height: 30px;
}
