.list {
  align-items: center;
  justify-content: center;
}

.link {
  margin-right: 32px;
}

.container {
  display: none;
}

.buttons__container {
  display: none;
}

.projects__list {
  list-style: none;
}

@media screen and (max-width: 950px) {
  .link {
    margin-right: 0;
  }
  .list {
    padding-top: 0;
    height: 450px;
  }
}

@media screen and (max-width: 680px) {
  .list {
    height: 520px;
  }
  .projects__list {
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .list {
    height: 650px;
  }
}
