.list {
  align-items: center;
  justify-content: center;
}

.link {
  margin-right: 32px;
}

@media screen and (max-width: 950px) {
  .link {
    margin-right: 0;
  }
  .list {
    padding-top: 0;
  }
}
